<main>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <br><br>
    <form method="POST" action="/editarPerfil/{{elUsuario.url}}" enctype="multipart/form-data">
        <br>
        <div class="align-center">
            <h3><strong>Editar tu Perfil</strong></h3>
        </div>
        <div class="row uniform">
            <div class="6u 12u$(xsmall)">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" value="{{elUsuario.nombre}}"
                    placeholder="Ingresa tu nombre" />
            </div>

            <div class="6u$ 12u$(xsmall)">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" value="{{elUsuario.apellido}}"
                    placeholder="Ingresa tu Apellido" />
            </div>

            <!-- Break -->
            <div class="4u 12u$(small)">
                <label for="ocupacion">a qué te dedicas</label>
                <input type="text" name="ocupacion" id="ocupacion" value="{{elUsuario.ocupacion}}"
                    placeholder="Ingresa tu ocupación" />
            </div>
            <div class="4u 12u$(small) align-center">
                <label for="actual">Imagen Actual</label>
                <img src="/images/perfiles/{{elUsuario.imagen}}" width="140px" height="140px">
                <input readonly type="hidden" name="actual" value={{elUsuario.imagen}}>
            </div>
            <div class="4u 12u$(small)">
                <label for="imagen">Selecciona una imagen para tu perfil</label>
                <input type='file' name="imagen" id="imagen" />
            </div>
            <!-- Break -->

            <div class="6u$ 12u$">
                <div>
                    <label for="correo">Correo eletrónico</label>
                    <input type="email" name="correo" id="correo" placeholder="tucorreo@escribe.com"
                        value="{{elUsuario.correo}}" />
                </div>
            </div>
            <div class="6u$ 12u$">
                <div>
                    <label for="sueldo">Sueldo mensual</label>
                    <input type="number" min="1" pattern="^[0-9]+" name="sueldo" id="sueldo"
                        value="{{elUsuario.sueldo}}" placeholder="Ingresa tu sueldo" />
                </div>
            </div>

            <!-- Break -->
            <div class="12u$">
                <input type="submit" value="Guardar Cambios" />
                <input type="button" value="cancelar">
            </div>
        </div>
    </form>

</main>