<main>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <br><br>
    <form method="POST" action="/presupuesto/editarPresupuesto/{{elPresupuesto.url}}">
        <br>
        <div class="align-center">
            <h3><strong>{{Accion}}</strong></h3>
        </div>
        <div class="row uniform">
            <div class="4u 12u$(small) align-center">
                <label for="concepto">por concepto de:</label>
                <input required type="text" name="concepto" id="concepto"
                    placeholder="Ingresa el concepto del presupuesto" value='{{elPresupuesto.concepto}}' />
            </div>

            <div class="4u 12u$(small) align-center">
                <div class="select-wrapper">
                    <label for="cantidad">Cantidad</label>
                    <input required type="number" min="1" pattern="^[0-9]+" name="cantidad" id="cantidad"
                        placeholder="Ingresa tu sueldo" value='{{elPresupuesto.cantidad}}' />
                </div>
            </div>
            <div class="4u 12u$(small) align-center">
                <label for="mes">Mes</label>
                <input required type="month" min="2019-10" name="fecha" id="fecha" value="{{elPresupuesto.fecha}}"
                    placeholder="Ingresa el mes" />
            </div>
            <div class="12u$">
                <div class="select-wrapper">
                    <label for="categoria">Selecciona una categoria</label>
                    <select required name="categoria" id="categoria">

                        {{#each lasCategorias}}
                        <option value="{{_id}}">{{nombre}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>


            <!-- Break -->
            <div class="12u$">
                <input type="submit" value="Guardar cambios" />
            </div>
        </div>
    </form>

</main>