<main>
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-car icon-gradient bg-mean-fruit">
                            </i>
                        </div>
                        <div> Tienes el poder de tus finanzas al alcance
                            <div class="page-title-subheading"> El control en tus manos...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content bg-midnight-bloom">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Tu sueldo es de:</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>L. {{elUsuario.sueldo}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content bg-arielle-smile">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Tu gasto es de:</div>

                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>L. {{gasto}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content bg-grow-early">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">% de {{finanza}}</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>{{porcentaje}} %</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>opciones de filtrado</p>
                        <hr>
                        <form action="#" method="post" border="1" class="estiloBusqueda">
                            <a href="/presupuesto/editarPresupuesto/{{url}}" class="btn btn-primary btn-sm">mostrar
                                todos</a>

                            <label for="fecha">Fecha</label>
                            <input type="month" min="2019-10" name="fecha" id="fecha" placeholder="Ingresa el mes" />
                            <label for="fecha">Selecciona una categoria</label>

                            <select name="categoria" id="categoria">
                                {{#each lasCategorias}}
                                <option value="{{_id}}">{{nombre}}</option>
                                {{/each}}
                            </select>
                            <a href="#" class="btn btn-primary3 btn-sm">Buscar</a>
                            <hr>
                            <br>
                        </form>

                        <div class="main-card mb-3 card">
                            <div class="card-header">Listado de tus presupuestos
                                <div class="btn-actions-pane-right">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <button class="active btn btn-focus">Todos</button>
                                        {{#each lasCategorias}}
                                        <button class="btn btn-focus">{{nombre}}</button>
                                        {{/each}}

                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center"> </th>
                                            <th>Concepto</th>
                                            <th class="text-center">Costo</th>
                                            <th class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each losPresupuestos}}
                                        <tr>
                                            <td class="text-center text-muted"> ° </td>
                                            <td>
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-wrapper">

                                                    </div>
                                                    <div class="widget-content-left flex2">
                                                    </div>
                                                </div>
                            </div>
                            <div class="widget-heading"><strong>{{concepto}}</strong></div>
                            </td>
                            <td class="text-center">{{cantidad}}</td>
                            <td class="text-center">

                                <a href="/presupuesto/editarPresupuesto/{{url}}"
                                    class="btn btn-primary btn-sm">Editar</a>
                                <a href="#" data-eliminar="{{id}}" class="btn btn-primary2 btn-sm">Eliminar</a>

                            </td>
                            </tr>
                            {{/each}}

                            </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>


            <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        </div>
    </div>
    </div>
</main>